
#support {
    color: var(--primary);
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
}

.contact-container form {
    padding: 2em;
}

label {
    padding: .4em;
    background-color: var(--light);
    border-radius: 10px 10px 0px 0px;
}

form input {
    font-size: 1em;
    padding: .25em;
    border-radius: 10px;
    width: 500px;
    border-style: none;
    border: 2px solid var(--light);
    border-radius: 0px 0px 10px 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

textarea {
    resize: none;
    font-size: 1em;
    padding: .25em;
    border-radius: 10px;
    border-style: none;
    border: 2px solid var(--light);
    resize: none;
    border-radius: 0px 0px 10px 10px;
}

button {
    font-size: 1em;
}