
.hero .hero-content .hero-content-text {
  width: 50%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-content .hero-content-text .text-box {
  width: 40vw;
}
.hero .hero-content .hero-content-text .text-box h1 {
  font-size: 3rem;
  color: var(--primary);
}
.hero .hero-content .hero-content-text .text-box p {
  color: var(--black);
  margin: 2em 0em 2em 0em;
  font-size: 1.2rem;
}
.hero .hero-content .hero-content-text .text-box button {
  margin: 0em 1em 0em 0em;
  font-size: 0.8em;
}

.hero .hero-content .hero-content-image {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 30vw;
  margin-bottom: 20vh;
}


.section-title {
  text-align: center;
  color: var(--white);
  font-size: 2rem;
  margin-bottom: 2em;
}

#section-title-lid {
  color: var(--black);
}

.section1 {
    background-color: var(--primary);
}

.over-grid-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em;
}

.over-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.over-grid .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.over-grid .tekst {
  color: var(--white);
  font-size: 1.2em;
  padding: 4em;
}

.over-grid .tekst1 {
  text-align: left;
}

.over-grid .tekst2 {
  text-align: right;
}

.over-grid .over-svg {
  width: 300px;
}

.section2 {
    background-color: var(--white);
}

#winkels h2 {
  color: var(--primary);
}

#winkels p {
  color: var(--primary);
}

.winkels-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.winkels-grid-container {
  display: grid;
  place-items: center;
  height: 400px;
  width: 1200px;
  margin: 3em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}

.winkels-grid-container img {
  height: 150px;
  border-radius: 10px;
}

.winkels-button-container a {
  padding: .75em 2em;
  font-weight: 600;
  border-style: solid;
  border-color: var(--primary);
  background-color: transparent;
  cursor: pointer;
  color: var(--primary);
  border-width: 3px;
  border-radius: 50px;
}

.winkels-button-container a:hover {
  background-color: var(--primary);
  color: var(--white);
  transition: .1s;
}

  .section3 {
    background-color: var(--secondary);
    position: relative;
  }

.section-description {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.section-title {
  height: 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.abonnementen {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abonnementen .card {
  background-color: var(--white);
  height: 550px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.212) 0px 0px 10px;
  z-index: 1;
}

.abonnementen .card-sec {
  height: 500px;
  z-index: 0;
}

.abonnementen .card1 {
  margin-right: -30px;
}

.abonnementen .card3 {
  margin-left: -30px;
}

.abonnementen .card-title {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.abonnementen .card-title hr {
  height: 2px;
  width: 300px;
  background-color: var(--secondary);
  border: none;
  opacity: .2;
  border-radius: 5px;
  margin-top: 20px;

}

.abonnementen .card-content {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: -50px;
}

.abonnementen .card-content .li {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.abonnementen .card-content p {
  margin: 0;
  font-size: 1rem;
}

.abonnementen .card-content .check {
  height: 1.5rem;
  margin-right: 10px;
}

.abonnementen .card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.abonnementen .card-button .button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  border-radius: 50px;
  background-color: var(--primary);
  font-weight: 700;
  font-size: 1em;
}

.abonnementen .card-button .button::after {
  border-radius: 50px;
  background-color: var(--secondary);
}

.abonnementen .card-button .button img {
  height: 20px;
}


.abonnementen .card-button input:active {
  background-color: #00698b;
}

.abonnementen .card-button p {
  font-size: .1rem;
  text-decoration: underline;
  cursor: pointer;
  color: rgb(90, 90, 90);
  margin-top: 10px;
}

.card-button--arrow {
  background-image: url("../images/arrow.svg");
  background-position: 90% center;
  background-size: 20px;
  background-repeat: no-repeat;
}


  .section3 .scroll-top {
    position: absolute;
    background-color: var(--white);
    bottom: 1em;
    right: 1em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .section3 .scroll-top:hover {
    transition: color 0.4s;
    background-color: var(--light);
  }
  .section3 .scroll-top a {
    font-size: 1.5rem;
    color: var(--primary);
  }
