@media screen and (max-width: 1200px) {
    .header-links {
      max-width: 650px;
    }

    #header-links {
      display: none;
      flex-direction: column;
      min-width: 100%;
      text-align: center;
      margin-top: 0.5em;
      position: absolute;
      top: 100px;
      left: 0;
      background-color: var(--light);
    }

    #hero-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #hero-content-text {
      width: 100%;
      text-align: center;
      height: 50%;
      margin-top: 3em;
      margin-bottom: 30vh;
    }
    #hero-content-text .text-box {
      width: 80%;
      margin-top: 4em;
      font-size: 1em;
    }

    #text-box h1 {
      font-size: 2em;
    }

    #hero-button-group {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    #cta-button {
      margin-bottom: 1em;
    }

    #hero-content-image {
      display: none;
    }
  
    #footer {
      justify-content: space-around;
      width: 100vw;
    }

    #over-grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    #over-grid .over-svg {
      display: none;
    }

    #over-grid .tekst {
      text-align: center;
      padding: 0;
      margin-bottom: 2em;
    }

    .over-corono p {
      font-size: 1px;
    }

    #wordlid {
      height: 275vh;
    }

    .abonnementen {
      flex-direction: column;
    }

    #wordlid .card {
      height: 500px;
      width: 400px;
      margin: 0;
      margin-top: 20px;
      z-index: 0;
    }
  
  }




  @media screen and (max-width: 1000px) {
  
    #nav {
      padding: 1em;
    }
  
    #hamburger {
      display: block;
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      color: var(--secondary);
    }
    #hamburger:hover {
      color: var(--primary);
      transition: color 0.4s ease;
    }
  
    .wave {
      bottom: -1px;
    }
  
    #header-links a {
      line-height: 25px;
    }
  
    #header-links.show {
      display: flex;
    }
  }