@import '_colors.css';
@import '_responsive.css';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: stolzl, sans-serif;
    -webkit-overflow-scrolling: touch;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  ::selection {
    color: var(--primary);
    background-color: var(--light);
}

.section {
  height: 100vh;
  position: relative;
  z-index: 5;
}
.section * {
  z-index: 5;
}

.wave {
  position: absolute;
  bottom: -1em;
  z-index: 1;
}

.hero {
  background-color: var(--white);
  position: relative;
  height: 100vh;
}
.hero .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  padding: 1em 2em;
}
.hero .nav .logo {
  height: 2rem;
  cursor: pointer;
}
.hero .nav .header-links {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: row;
  width: 800px;
  box-sizing: border-box;
  font-size: 1rem;
}
.hero .nav .header-links .link {
  color: var(--secondary);
  padding: 0.5em;
  border-radius: 5px;
}
.hero .nav .header-links .header-links-link {
  transition: color 0.4s ease;
  position: relative;
}
.hero .nav .header-links .header-links-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.hero .nav .header-links .header-links-link:hover {
    color: var(--primary);
}

.hero .nav .header-links .header-links-link:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.hero .hero-content {
  display: flex;
  height: 100%;
  position: relative;
  z-index: -1;
  flex-wrap: wrap;
}

.hamburger {
  display: none;
}

@keyframes link {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.hero-button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}
  
  .button {
    padding: .5em 1em;
    border-radius: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cta-button {
    background-color: var(--secondary);
    color: var(--white);
    position: relative;
    padding: .5em 1em;
    border-radius: 5px;
  }
  .cta-button::after {
    background-color: var(--primary);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
    transition: transform 200ms ease-in;
  }
  .cta-button:hover::after {
    transform: scaleX(1);
    transform-origin: right;
  }

  .normal-button {
    background-color: transparent;
    border: 2px var(--secondary) solid;
    color: var(--secondary);
    position: relative;
  }

  .normal-button:hover {
    color: var(--white);
  }

  .normal-button::after {
    content: "";
    background-color: var(--secondary);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 4px;
    top: 0;
    left: 0;
    transform: scaleX(0);
    z-index: -1;
    transition: transform 200ms ease-in;
  }

  .normal-button:hover::after {
    transform: scaleX(1);
  }

  .link {
    color: var(--secondary);
    position: relative;

  }

  .link::after {
    content: '';
    width: 100%;
    position: absolute;
    transform: scaleX(0);
    bottom: 0;
    transform-origin: left;
    left: 0;
    height: 2px;
    background-color: var(--secondary);
    transition: all 0.3s ease-in-out;
  }

  .link:hover::after {
    background-color: var(--secondary);
    transform: scaleX(1);
  }

  .belangrijk {
    color: var(--secondary);
  }

  footer {
    
  }
  
.footer-top {
  height: 30vh;
  display: flex;
  align-items: center;
  padding: 0 4em;
  justify-content: center;
}

.footer-top .footer-column {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.footer-top .footer-column a{
  color: var(--primary);
  line-height: 2em;
}

.footer-top .footer-column p {
  color: var(--primary);
  margin-bottom: .5em;
}

.footer-top .footer-column a:hover {
  text-decoration: underline;
}

.footer-top .footer-column .nieuwsbrief-container {
  display: flex;
  flex-direction: column;
  
}

.footer-top .footer-column .nieuwsbrief-container input{
  padding: .8em;
  font-size: .8em;
  border-radius: 10px 10px 0 0;
  border-style: solid;
  border-color: var(--primary);
  border-width: 2px;
}

.footer-top .footer-column .nieuwsbrief-container button {
  padding: 1em;
  border-radius: 0 0px 20px 20px;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 600;
  font-size: .8em;
  cursor: pointer;
  border: 2px solid var(--primary);
}

.footer-top .footer-column .nieuwsbrief-container button:hover {
  background-color: var(--white);
  color: var(--primary);
  border: 2px solid var(--primary);
  transition: .2s;
}



.footer-bottom {
  height: 10vh;
  padding: 0 4em;
}

.footer-bottom hr {
  border-color: var(--primary);
}

.footer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer-footer div {
  display: flex;
  align-items: center;
}

.footer-footer div p {
  margin-right: 1em;
}

.footer-footer div a {
  font-size: 1.5em;
  color: var(--primary);
}


.footer-bottom img {
  height: 20px;
}