@media screen and (max-width: 992px) {
    .header-links {
        max-width: 300px;
    }
  }

@media screen and (max-width: 600px) {

    .header-links-link {
        display: none;
    }
    .header-links-link.responsive {
        display: block;
    }
}

@media screen and (max-width: 600px) {

    .hamburger {
        display: block;
        position: absolute;
        right: 50px;
        top: 40px;
        font-size: 1.5rem;
        color: $secondary;

        &:hover {
            color: $primary;
            transition: color .4s ease;
        }
    }
    .nav {
        display: none;
    }
}