@import '_colors.scss';

.section {
    height: 100vh;
    position: relative;
    z-index: 5;

    * {
        z-index: 5;
    }
}

.wave {
    position: absolute;
    bottom: -2em;
    z-index: 1;
}

.hero {
    background-color: $white;
    position: relative;
    height: 100vh;

    .nav {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 4em;
        position: relative;
        transform-style: inherit;    
    
        .logo {
            height: 2rem;
            cursor: pointer;
        }

        .header-links {
            display: flex;
            justify-content: space-between;
            align-items: row;
            width: 600px;

            .header-links-link {
                color: $secondary;
                transition: color .4s ease;
                position: relative;

                &::after {
                    content: '';
                    display: none;
                    width: 100%;
                    height: 2px;
                    border-radius: 50px;
                    background-color: $secondary;
                    position: absolute;
                }
    
                &:hover {
                    color: $primary;

                    &::after {
                        display: block;
                        background-color: $primary;
                        animation-name: link;
                        animation-duration: .4s;
                    }
                }
            }
        }
    }
}

.hamburger {
    display: none;
}

@keyframes link {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.section1, .section2, .section3 {

    .section-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        color: $white;
        font-size: 2rem;

        #section-title-lid {
            color: $black;
        }
    }
}


.section1 {
    background-color: $primary;
}

.section2 {
    background-color: $white;
}

.section3 {
    background-color: $secondary;
    position: relative;

    .scroll-top {
        position: absolute;
        bottom: 1em;
        right: 1em;
        background-color: $white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: $light;
            transition: color .4s;
        }
        
        a {
            color: $primary;
            font-size: 1.5rem;
        }
    }
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $black;

    .footer-column {
        margin: 0 5em;
        display: flex;
        align-items: center;

        .logo {
            height: 2rem;
            cursor: pointer;
        }

        i {
            color: $primary;
            margin-left: .5em;
            font-size: 1.5rem;

            &:hover {
                color: $secondary;
                transition: color .4s;
            }
        }
    }
}