@import '_colors.scss';

.section {
    height: 100vh;
}

.hero {
    background-color: $white;

    .nav {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 4em;
    
        .logo {
            height: 2rem;
            cursor: pointer;
        }

        .header-links {
            display: flex;
            justify-content: space-between;
            align-items: row;
            width: 600px;

            .header-links-link {
                color: $secondary;
                transition: color .4s ease;
                position: relative;

                &::after {
                    content: '';
                    display: none;
                    width: 100%;
                    height: 2px;
                    border-radius: 50px;
                    background-color: $secondary;
                    position: absolute;
                }
    
                &:hover {
                    color: $primary;

                    &::after {
                        display: block;
                        background-color: $primary;
                        animation-name: link;
                        animation-duration: .4s;
                    }
                }
            }
        }
    }
}

.hamburger {
    display: none;
}

@keyframes link {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.section1, .section2, .section3 {

    .section-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        color: $white;
        font-size: 2rem;

        #section-title-lid {
            color: $black;
        }
    }
}


.section1 {
    background-color: $primary;
}

.section2 {
    background-color: $white;
}

.section3 {
    background-color: $secondary;
    height: 85vh;
}

footer {
    height: 15vh;
}