.section {
  height: 100vh;
  position: relative;
  z-index: 5;
}

.section * {
  z-index: 5;
}

.wave {
  position: absolute;
  bottom: -1em;
  z-index: 1;
}

.hero {
  background-color: #FCFCFC;
  position: relative;
  height: 100vh;
}

.hero .nav {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 4em;
  position: relative;
  -webkit-transform-style: inherit;
          transform-style: inherit;
}

.hero .nav .logo {
  height: 2rem;
  cursor: pointer;
}

.hero .nav .header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: row;
      -ms-flex-align: row;
          align-items: row;
  width: 600px;
}

.hero .nav .header-links .header-links-link {
  color: #EE6055;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  position: relative;
}

.hero .nav .header-links .header-links-link::after {
  content: '';
  display: none;
  width: 100%;
  height: 2px;
  border-radius: 50px;
  background-color: #EE6055;
  position: absolute;
}

.hero .nav .header-links .header-links-link:hover {
  color: #007EA7;
}

.hero .nav .header-links .header-links-link:hover::after {
  display: block;
  background-color: #007EA7;
  -webkit-animation-name: link;
          animation-name: link;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
}

.hamburger {
  display: none;
}

@-webkit-keyframes link {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes link {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.section1 .section-title, .section2 .section-title, .section3 .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  color: #FCFCFC;
  font-size: 2rem;
}

.section1 .section-title #section-title-lid, .section2 .section-title #section-title-lid, .section3 .section-title #section-title-lid {
  color: #040403;
}

.section1 {
  background-color: #007EA7;
}

.section2 {
  background-color: #FCFCFC;
}

.section3 {
  background-color: #EE6055;
  position: relative;
}

.section3 .scroll-top {
  position: absolute;
  bottom: 1em;
  right: 1em;
  background-color: #FCFCFC;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.section3 .scroll-top:hover {
  background-color: #ECE9EA;
  -webkit-transition: color .4s;
  transition: color .4s;
}

.section3 .scroll-top a {
  color: #007EA7;
  font-size: 1.5rem;
}

footer {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #040403;
}

footer .footer-column {
  margin: 0 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-column .logo {
  height: 2rem;
  cursor: pointer;
}

footer .footer-column i {
  color: #007EA7;
  margin-left: .5em;
  font-size: 1.5rem;
}

footer .footer-column i:hover {
  color: #EE6055;
  -webkit-transition: color .4s;
  transition: color .4s;
}

@media screen and (max-width: 992px) {
  .header-links {
    max-width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .header-links-link {
    display: none;
  }
  .header-links-link.responsive {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 50px;
    top: 40px;
    font-size: 1.5rem;
    color: #EE6055;
  }
  .hamburger:hover {
    color: #007EA7;
    -webkit-transition: color .4s ease;
    transition: color .4s ease;
  }
  .nav {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: stolzl, sans-serif;
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-moz-selection {
  color: #007EA7;
  background-color: #ECE9EA;
}

::selection {
  color: #007EA7;
  background-color: #ECE9EA;
}
/*# sourceMappingURL=main.css.map */