@import '_styles.scss';
@import '_colors.scss';
@import '_fonts.scss';
@import '_responsive.scss';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: stolzl, sans-serif;
    -webkit-overflow-scrolling: touch;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;    
}

::selection {
    color: $primary;
    background-color: $light;
}